body{
	font-family: sans-serif;
	background: white;
	color: black;
	height: 100%;
}

/* DROP ZONE */
#drop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	color: #CCC;
	transition: all 150ms;
}

	#drop .container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: table;
	}

	#drop .txt {
		display: table-cell; 
		vertical-align: middle; 
		text-align: center; 
	}

#drop.hover {
	color: #8dd0ff;
	/*border: 5px solid #8dd0ff;*/
	box-shadow: inset 0 0 0 10px #8dd0ff;
}

/* BUTTONS */
.button-settings {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #ccc;
	padding: 15px;
	transition: all 100ms;
}

	.button-settings:hover {
		color: #000;
	}

.button-settings-close {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #ccc;
	padding: 15px;
	transition: all 100ms;
}

	.button-settings-close:hover {
		color: #000;
	}

#button-settings-reload {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ccc;
	padding: 15px;
	transition: all 100ms;
}

	#button-settings-reload:hover {
		color: #000;
	}

.alert-pop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #ccc;
	text-align: center;
	padding: 5px;
	font-size: 0.8rem;
}

.section {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: #fff;
	text-align: center;
}

.section.show {
	display: block;
}

.section.hero {
	z-index: 4;
}

.padding {
	padding: 20px;
}

.popcorntime-popover,
.popcorntime-popover-loader {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: #0CF7B7;
	padding: 0px 20px;
	font-size: 0.8rem;
	display: none;
}

	.pop-button {
		background-color: #000;
		display: inline-block;
		border-radius: 4px;
		padding: 10px;
		color: #fff;
		text-decoration: none;
	}

	#close-pop-button {
		position: absolute;
		top: 0;
		right: 0;
		color: #000;
		padding: 15px;
		transition: all 100ms;
	}
		#close-pop-button:hover {
			color: #000;
		}

