body{
	font-family: sans-serif;
	background: white;
	color: black;
	height: 100%;
}

/* DROP ZONE */
#drop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	color: #CCC;
	transition: all 150ms;
}

	#drop .container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: table;
	}

	#drop .txt {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

#drop.hover {
	color: #8dd0ff;
	/*border: 5px solid #8dd0ff;*/
	box-shadow: inset 0 0 0 10px #8dd0ff;
}

/* BUTTONS */
.button-settings {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #ccc;
	padding: 15px;
	transition: all 100ms;
}

	.button-settings:hover {
		color: #000;
	}

.button-settings-close {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #ccc;
	padding: 15px;
	transition: all 100ms;
}

	.button-settings-close:hover {
		color: #000;
	}

#button-settings-reload {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ccc;
	padding: 15px;
	transition: all 100ms;
}

	#button-settings-reload:hover {
		color: #000;
	}

.alert-pop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #ccc;
	text-align: center;
	padding: 5px;
	font-size: 0.8rem;
	display: none;
}

.section {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: #fff;
	text-align: center;
}

.section.show {
	display: block;
}

.section.hero {
	z-index: 4;
}

.padding {
	padding: 20px;
}

.popcorntime-popover,
.popcorntime-popover-loader,
.popcorntime-popover-list {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: #0CF7B7;
	padding: 0px 20px;
	font-size: 0.8rem;
	display: none;
}

	.pop-button {
		background-color: #000;
		display: inline-block;
		border-radius: 4px;
		padding: 10px;
		color: #fff;
		text-decoration: none;
	}

	#close-pop-button {
		position: absolute;
		top: 0;
		right: 0;
		color: #000;
		padding: 15px;
		transition: all 100ms;
	}
		#close-pop-button:hover {
			color: #000;
		}

.popcorntime-popover-list {
	height: 100%;
	overflow: auto;
}

	.popcorntime-subtitles-list {
		list-style: none;
		padding: 0;
		background-color: #fff;
	}

	.popcorntime-subtitles-list li a {
		display: block;
		cursor: pointer;
		padding: 10px;
		font-size: 1rem;
		border-bottom: 4px solid #0CF7B7;
	}

		.popcorntime-subtitles-list li a:hover {
			background-color: #000;
			color: #fff;
		}

	.popcorntime-list-close {
		position: absolute;
		top: 0;
		right: 0;
		color: #000;
		padding: 15px;
		transition: all 100ms;
	}

.pop-settings {
	margin-bottom: 20px;
}

	.pop-settings-info {
		font-size: 0.7em;
		line-height: 1.2em;
	}

	.settings-select {
		width: 150px;
	}

.switch-enable-pop {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
}

	.switch-enable-pop .label-txt {
		display: inline-block;
		font-size: 0.5em;
		vertical-align: middle;
		transition: color 0.4s;
	}

		.switch-enable-pop .label-txt.on {
			 color: #0CF7B7;
		}

	.switch {
		display: inline-block;
		vertical-align: middle;
	}


/* TOGGLE
http://callmenick.com/post/css-toggle-switch-examples */

.pop-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
	.pop-toggle + label {
		display: block;
		position: relative;
		cursor: pointer;
		outline: none;
		user-select: none;
	}

	/* ROUND FLAT */
	input.pop-toggle-round-flat + label {
	  padding: 2px;
	  width: 30px;
	  height: 15px;
	  background-color: #dddddd;
	  border-radius: 30px;
	  transition: background 0.4s;
	}
	input.pop-toggle-round-flat + label:before, input.pop-toggle-round-flat + label:after {
	  display: block;
	  position: absolute;
	  content: "";
	}
	input.pop-toggle-round-flat + label:before {
	  top: 2px;
	  left: 2px;
	  bottom: 2px;
	  right: 2px;
	  background-color: #fff;
	  border-radius: 30px;
	  transition: background 0.4s;
	}
	input.pop-toggle-round-flat + label:after {
	  top: 4px;
	  left: 4px;
	  bottom: 4px;
	  width: 11px;
	  background-color: #dddddd;
	  border-radius: 11px;
	  transition: margin 0.4s, background 0.4s;
	}
	input.pop-toggle-round-flat:checked + label {
	  background-color: #0CF7B7; /* #8ce196 */
	}
	input.pop-toggle-round-flat:checked + label:after {
	  margin-left: 15px;
	  background-color: #0CF7B7; /* #8ce196 */
	}

.version {
	position: absolute;
	bottom: 0;
	right: 45px;
	z-index: 10;
	font-size: 0.7rem;
	padding: 16px 8px;
	color: #CCC;
}

#version {
	height: 18px;
	line-height: 18px;
}

#update-button {
	margin-right: 5px;
	background-color: #0CF7B7;
	border: none;
	border-radius: 4px;
}